# dependencies
node_modules/

# local environment variables
.env
.env.local
.env.production

# Vite cache
node_modules/.vite/

# build output
dist/
build/

# assets
src/assets/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# system files
.DS_Store
Thumbs.db

# local backend storage
messages.json
